body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    height: 100;
    width: 100;
   
}
.head-bar{
    background: #ffff1c; 
    background: -webkit-linear-gradient(to right, #00c3ff, #ffff1c);  
    background: linear-gradient(to right, #00c3ff, #ffff1c);
    color:white;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 22px;
    padding: 2px 2px 2px 5%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#263343;
    padding: 8px 12px;
}
.header{
    margin-top: 3%;
    display: flex;
     justify-content: center;
}

.navbar__menu{
    display:flex;
    list-style:none;
    padding-left:0;
    margin:0 auto;
    letter-spacing:13px; 

}

.navbar__menu li{
    padding:8px 12px;
}

.navbar__menu li:hover{
    background-color:#d49466;
    border-radius:4px;
}
#contents h1 {
    color: #888888;
    font-size: 50px;
    line-height: 70px;
    padding:0 0 15px 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #cecece;
    font-family: 'Yanone', 'Nanum Gothic', '맑은 고딕', Helvetica, Arial, sans-serif;
    text-align: center;
}
.hidden {
	display: none;
}

.last {
    margin-right: 0;
    float: right;
    margin:auto;
}

.footer a:hover{
    color: black;
    font-weight: bold;
    transition: all 0.2s;
}
@media screen and (max-width: 200px) {

    .navbar__menu{
        flex-direction:column;
        align-items:center;
        width:100%;
    }
    .navbar__menu li{
        width:100%;
        text-align:center;
    }
    #flex1_QM {
        display: flex;
        color: black;
        height: 1100px;
        text-decoration: none;
        flex-direction: column;
        align-items: space-evenly;
        width: 306px;
        margin-right: 21px;
        float: left
    }
    #flexin2{
        display:flex;
        overflow: hidden;
        margin:0 auto;
    }
    #flexin1_QM {
        display: flex;
        padding-top: 1cm;
        padding-bottom: 0.5cm;
        justify-content: space-between;
        margin:0 auto;
    }
    #flexin3_QM {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin:0 auto;
    }
}
#contact{
    color: black;
    font-weight: bold;
}


h1 {
	font-size: 3rem;
	color: black;
	margin: 30px;
    text-align: center;
}


.footer {
    background: #00c3ff; 
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  
    background: linear-gradient(to right, #ffff1c, #00c3ff); 
    text-align: center;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin:auto;
}

#contact{
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}

a{
    text-decoration:none;
    color:white;
}
#flex1 {
    display: flex;
    color: black;
    height: 1100px;
    text-decoration: none;
    flex-direction: column;
    align-items: space-evenly;
}

#flexin1 {
    display: flex;
    padding-top: 1cm;
    padding-bottom: 0.5cm;
    justify-content: space-between;
}
#flexin3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

